@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet');
  /*  */
}


::-webkit-scrollbar-thumb {
  background: var(--gr-4, linear-gradient(54deg, #0091ff 0, #9cfeff 100%));
  background-clip: content-box;
  border-radius: 20px;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background-color: transparent;
}

.font-raleway {
  font-family: var(--font-raleway);
}
.font-poppins {
  font-family: var(--font-poppins) !important;
}

.family-poppins {
  font-family: "Poppins" !important;
}

.dark{
  background: black !important;
}

.image-hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  margin-right: 8rem;
  z-index: 20;
}

.font-weight-600 {
  font-weight: 600;
  font-size: 64px;
  color: black;
  margin: 0 0 10px;
  text-align: start;
  z-index: 20;
}

.margin-8-rem {
  margin-right: 4rem;
}
.learn-more-light {
  transition: 0.3s;
  padding: .7rem 2rem;
}
.learn-more-light:hover {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  padding: .8rem 2.25rem;
  transition: .3s;
}
.about-us-img-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: .3s;
}

.about-us-img{
  width: 430px;
  height: 395px;
  border-radius: 10px;
  transition: .3s;
  object-fit: cover;
  color: transparent;
  overflow: clip;
}
/* .about-us-img:hover{
  /* width: 440px;
  height: 405px; */
/* } */
.about-us-underline{
  width: 165px;
  height: 8px;
  border-radius: 1000px;
  background: var(--gr-4, linear-gradient(54deg, #0091ff 0, #9cfeff 100%));
}
.why-choose-underline{
  width: 80px;
  height: 5px;
  border-radius: 1000px;
  margin-top: -5px;
  margin-bottom: 100px;
  background: var(--gr-4, linear-gradient(54deg, #0091ff 0, #9cfeff 100%));
}
.services-underline{
  width: 95px;
  height: 5px;
  border-radius: 1000px;
  background: var(--gr-4, linear-gradient(54deg, #0091ff 0, #9cfeff 100%));
}

.about-us-hero {
  transition: 0.3s;
}

.about-us-hero:hover, .about-us-img:hover {
  transform: scale(1.05);
}

.custom-gradient { 
  background-image: linear-gradient(135deg, #bceedf 0%, #fff 25%, #c0e9f8 50%, #fff 75%, #fddbd7 100%), linear-gradient(225deg, #bceedf 0%, #fff 25%, #c0e9f8 50%, #fff 75%, #fce7c8 100%);
}

.service-title {
  z-index: 100;
}
.service-no {
  z-index: 5;
  opacity: 0.2;
}

.true-ai-container { 
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}
.true-ai-wrapper {
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6rem 0;
    position: relative;
    /* background-color: var(--secondary-color); */
    width: 100%;
    height: 550px;
    z-index: 10;
    -webkit-clip-path: polygon(0 22.5%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 22.5%, 100% 0, 100% 100%, 0 100%);
}
.true-ai-main {
  margin: 6rem 0;
    position: relative;
    /* background-color: #272e5c; */
    width: 100%;
    height: 550px;
    z-index: 10;
    -webkit-clip-path: polygon(0 22.5%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 22.5%, 100% 0, 100% 100%, 0 100%);
}

.true-ai-text{
  background-clip: text;
    background-size: 200%;
    animation: true-ai-text-animation 2s linear infinite;
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: #9747ff;
    --tw-gradient-from-position: 0%;
    --tw-gradient-to: #9747ff;
    --tw-gradient-stops: var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-to) var(--tw-gradient-to-position);
    --tw-gradient-via: #2f80ed;
    --tw-gradient-via-position: 50%;
    --tw-gradient-stops: var(--tw-gradient-from) var(--tw-gradient-from-position), var(--tw-gradient-via) var(--tw-gradient-via-position), var(--tw-gradient-to) var(--tw-gradient-to-position);
    --tw-gradient-to: #ee216b;
    --tw-gradient-to-position: 100%;
}

@keyframes true-ai-text-animation {
  0% {
    background-position: 0%;
  }
  /* 50% {
    background-position: 100% 50%;
  } */
  100% {
    background-position: -200%;
  }
}

.video-border-radius { 
  border-radius: 200px 0 0px 200px;
  
}

.our-vision-header {
  letter-spacing: 3px;
    font-weight: 600;
}


@keyframes fadeInMoveRight {
  0% {
    opacity: 0;
    transform: translateX(-1000%);
  }
  12% {
    opacity: 0;
    transform: translateX(200%);
  }
  25% {
    opacity: 0.5;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    opacity: 1;
    transform: translateX(-100%);
  }
  100% {
    opacity: 0;
    transform: translateX(-500%);
  }
}

.client-image {
  animation: fadeInMoveRight 5s linear infinite;
}



@media only screen and (max-width: 600px) {
  .image-hero-wrapper {
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-left: 5rem;
  z-index: 20;
  }
  .welcome-text{
     font-size: 1.6rem;
  }
}